.env
# ==========================
# Environment Variables
# ==========================
.env
*.env

# ==========================
# Python
# ==========================
backend/.venv/
.venv/
venv/

__pycache__/
*.py[cod]
*.pyo

# ==========================
# Django
# ==========================
db.sqlite3
media/
staticfiles/

# ==========================
# Node.js
# ==========================
frontend/node_modules/
node_modules/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db